<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">


  <!-- TITULO -->
  <div class="w3-container w3-content w3-center w3-padding-64 texto-objetivo" style="max-width:800px" id="band">
    <h2 class="texto">OBJETIVO</h2>
    <p class="w3-justify">El fondo tendrá como objetivos generales los de fomentar la solidaridad, el compañerismo, el
      ahorro, así como suministrar créditos y
      prestación de servicios de índole social que busquen el mejoramiento de las condiciones económicas, sociales,
      culturales y morales de todos los asociados.</p>
    <div class="w3-row w3-padding-32">
    </div>
    <h2 class="texto">NATURALEZA Y LA DENOMINACIÓN</h2>
    <p class="w3-justify">La entidad es una empresa asociativa,
      de derecho privado sin ánimo de lucro, regida por las disposiciones
      legales vigentes y en especial la legislación sobre Fondo de Empleados y el
      presente estatuto y se denomina FONDO DE EMPLEADOS DE ASESOFTWARE.</p>
    <div class="w3-row w3-padding-32">
    </div>
    <h2 class="texto">DURACIÓN</h2>
    <p class="w3-justify">La duración del Fondo es indefinida pero podrá disolverse
      y liquidarse en cualquier momento, en los casos y en la forma y términos
      previstos por la ley y el presente estatuto.</p>
    <div class="w3-row w3-padding-32">
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-black">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">CONTACTO</h2>
      <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-map-marker" style="width:30px"></i> Bogotá,dc<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +53<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email:fasesoft@asesoftware.com<br>
          <br>
          <a href="https://www.facebook.com/asesoftware1/">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
          </a>
        <a >
          <i class="fa fa-instagram w3-hover-opacity"></i>
        </a>
         <a>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
         </a>
          
        
        </div>
      </div>
    </div>
  </div>

  <!-- End Page Content -->
</div>
