<fas-perfiles *ngIf="volverClick"></fas-perfiles>
<div id="content">
	<div class="row">
	    <div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <div class="card-title" *ngIf="!volverClick">
	                    <h3>Formulario Creación de nuevo Perfil</h3>
	                </div>
	            </div>
	            <div class="card-body">
	               <div >
	                   <div class="panel-body" >
	                       <div>
	                               <form #fasPerfilesForm="ngForm"  *ngIf="active" >
	                                	
	                             	<div class="form-group" class="col-md-6 offset-6" style="margin-bottom: 15px" *ngIf="!volverClick">
		                                <label for="tipo">Nombre del Perfil</label>
                                 		<input  maxlength ="20"type="string" id="tipo" class="form-control"
                                            required name="tipo" [(ngModel)]="fasPerfiles.tipo" (input)="validateInput()">
		                                <div *ngIf="formErrors.tipo" class="alert alert-danger">
		                                    {{ formErrors.tipo }}
		                                </div>
									</div>
									<div class="form-group" class="col-md-12" *ngIf="!volverClick">
										<label>Tipo de Accesos</label>
										<br>
										<div class="row">
											<div class="col-md-3 col-lg-3 col-3" *ngFor="let tipoAcceso of fasAccesosList,  let i = index">
												<input  type="checkbox" [id]="'fasAccesosIdAcceso'+i"  required name="fasAccesosIdAcceso" 
												(change)="cambiarLosAccesos(i)" >
												<label [for]="'fasAccesosIdAcceso'+i" >{{tipoAcceso.nombre}} </label>
											</div>
										</div>
									</div>
	                                <div class="col-md-12">
										<br>
											<!-- Button trigger modal -->	
											<div>
												<div *ngIf="!volverClick">
														<button type="button" class="btn btn-lg btn-outline-primary" (click)="volver()" *ngIf="!volverClick" style="margin-right: 300px">
																Volver
														</button>
														<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#perfilesModal" [disabled]="botonDisabled" >
															Guardar
														</button>
												</div>
											</div>


											
											<!-- Modal -->
											<div class="modal fade" id="perfilesModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
														<h5 class="modal-title" id="ModalLabel">Confirmación de creación de perfil</h5>

														</div>
														<div class="modal-body">
														¿Confirma que los datos ingresados son correctos?
														</div>
														<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
														<button type="button" class="btn btn-secondary" (click)="onSubmit()" data-dismiss="modal" >Confirmar</button>
														</div>
													</div>
												</div>
											</div>
										<br>
	                                </div>
								</form>
	                       </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
