<div id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <div class="panel-body">
                            <!-- Header -->
                            <header class="w3-display-container w3-content w3-wide"
                                style="max-width:1340px;min-width:400px" id="home">
                                
                                <div class="w3-display-bottomleft w3-padding-large w3-opacity">
                                    <h1 class="texto">Tipos de Ahorros</h1>
                                </div>
                            </header>
                            <!-- producto -->
                            <sa-widgets-grid>
                                <div class="row">
                                    <div >

                                        <!-- product -->
                                        <div class="product-content product-wrap clearfix">
                                            <div class="row">
                                                <div class="col-md-5 col-sm-12 col-xs-12">
                                                    <div class="product-image tamanoimg">
                                                        <img src="./assets/img/ahorroPermanente.png" alt="194x228"
                                                           >
                                                    </div>
                                                </div>
                                                <div class="col-md-7 col-sm-12 col-xs-12">
                                                    <div class="product-deatil">
                                                        <h5 class="name texto">
                                                            <a>Ahorro Fijo <span>Tasa</span></a>
                                                        </h5>
                                                        <p class="price-container">
                                                            <span>10%</span>
                                                        </p>
                                                        <span class="tag1"></span>
                                                    </div>
                                                    <div class="description">
                                                        <p>Los  aportes  sociales individuales  los  destinará  El  Fondo  a  las  operaciones  propias  del  objeto  social  a  juicio  de  la Junta Directiva.Los  depósitos  de  ahorros,  de  cualquier  clase,  que  capte  el  Fondo  deberán  ser  invertidos  en créditos de los asociados en las condiciones y con las garantías que señalan los reglamentos de conformidad  con  las  disposiciones  legales  que  regulen  la  materia,  sin  perjuicio  de  poder adquirir  activos  fijos  para  la  prestación  de  los  servicios  y  tomando  las  medidas  que  permitan mantener  la  liquidez  necesaria  para  atender  los  retiros  de  ahorros  conforme  sean  estos exigibles.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="product-content product-wrap clearfix">
                                                <div class="row">
                                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                                        <div class="product-image tamanoimg">
                                                            <img src="./assets/img/ahorroVoluntario.png" alt="194x228"
                                                                class="img-responsive ">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                                        <div class="product-deatil">
                                                            <h5 class="name texto">
                                                                <a>Ahorro Voluntario <span>Tasa</span></a>
                                                            </h5>
                                                            <p class="price-container">
                                                                <span>4.8%</span>
                                                            </p>
                                                            <span class="tag1"></span>
                                                        </div>
                                                        <div class="description">
                                                            <p>Todos  los asociados  al  Fondo,  deberán  comprometerse  a  aportar  una  suma  periódica  obligatoria  no inferior  al  dos  por  ciento  (2%),  ni  superior  al  diez  por  ciento  (10%)  del  salario  mensual  que devengue, pagadera con  la periodicidad que los  Asociados reciben su ingreso. Del total de la cuota  permanente  aquí  establecida,  el  diez  por  ciento  (10%)  se  llevara  a  Aportes  Sociales individuales y el noventa por ciento (90%) a una cuenta de ahorros permanentes. Sobre estos ahorros  se  podrán  hacer  reconocimientos  a  cada  asociado,  de  acuerdo  con  la  reglamentación que expida la Junta Directiva. La cuantía de la cuota periódica obligatoria es seleccionada por el asociado dentro de los topes establecidos.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <!-- end product -->
                                    </div>
                                </div>
                            </sa-widgets-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>